<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiujiangwebinfo.demo1.mapper.OrderListMapper">
    <insert id="insert" parameterType="Order">
        INSERT `order_list`(
        ADDRESS ,
        ALLMANYI ,
        APPROACH ,
        BANLIRESULT_12345 ,
        CALLNUMBER ,
        CASEEND ,
        CASEVALUATION_12345 ,
        CHECKRESULT ,
        COMMUNITY_NAME ,
        CREATE_TIME ,
        DEPT_NAME ,
        DESCRIPTION ,
        DESCRIPTION_12345 ,
        DISCOVER_TIME ,
        DISPATCHNOTE ,
        DISPATCH_TIME ,
        DISSATISFY_REASON ,
        EMERGENCY_LEVEL ,
        END_TIME ,
        EXECUTE_DEPT_CODE ,
        HASLEAD ,
        HASLEADTYPECOUNT ,
        HASTENTYPE ,
        HASTENTYPECOUNT ,
        INFO_TYPE_NAME,
        ISREPLY ,
        ISSTUBBORN ,
        ISTYPICAL ,
        IS_EXCEED_OVERALL_TIME ,
        IS_RAPID_DISPOSAL ,
        IS_SOLVE_APPEAL ,
        LEVEL_FOUR ,
        LEVEL_ONE ,
        LEVEL_THREE ,
        LEVEL_TWO ,
        ORDER_TIME ,
        PERCREATE_TIME ,
        PEXECUTEDEPTNAME_MH ,
        PUBLIC_SATISFACTION ,
        REFLECT_PERSON ,
        REPLY_POIN ,
        REPORT_DEPT ,
        SERVICE_TYPE ,
        SOLVING_RESULT,
        SOLVING_TIME,
        STATUS,
        STREET_NAME,
        SYNCTIME,
        TASK_ID,
        TEL_ASK_TIME,
        WP_SOURCE,
        coordx,
        coordy,
        dept1Name,
        dept2Name,
        dept3Name,
        dept4Name,
        dept5Name,
        isCallbackSuccess,
        isContinueAccept,
        isDel,
        isDelay,
        isDifficult,
        isFollow,
        isFollow_up,
        isJointHandle,
        isJudged,
        isManualOpenPage,
        isOnTheWay,
        isOntimeTransfer,
        isOverdue,
        isRebootFlow,
        isResetCallback,
        isSendBack,
        isSubscribeCallback,
        isSupervise,
        isTimelyUpReport,
        isUrge,
        isWillOverdue,
        isZnjBack,
        is_solving_name,
        solving_node
        ) VALUES (
        #{order.ADDRESS},
        #{order.ALLMANYI},
        #{order.APPROACH},
        #{order.BANLIRESULT_12345},
        #{order.CALLNUMBER},
        #{order.CASEEND},
        #{order.CASEVALUATION_12345},
        #{order.CHECKRESULT},
        #{order.COMMUNITY_NAME},
        #{order.CREATE_TIME},
        #{order.DEPT_NAME},
        #{order.DESCRIPTION},
        #{order.DESCRIPTION_12345},
        #{order.DISCOVER_TIME},
        #{order.DISPATCHNOTE},
        #{order.DISPATCH_TIME},
        #{order.DISSATISFY_REASON},
        #{order.EMERGENCY_LEVEL},
        #{order.END_TIME},
        #{order.EXECUTE_DEPT_CODE},
        #{order.HASLEAD},
        #{order.HASLEADTYPECOUNT},
        #{order.HASTENTYPE},
        #{order.HASTENTYPECOUNT},
        #{order.INFO_TYPE_NAME},
        #{order.ISREPLY},
        #{order.ISSTUBBORN},
        #{order.ISTYPICAL},
        #{order.IS_EXCEED_OVERALL_TIME},
        #{order.IS_RAPID_DISPOSAL},
        #{order.IS_SOLVE_APPEAL},
        #{order.LEVEL_FOUR},
        #{order.LEVEL_ONE},
        #{order.LEVEL_THREE},
        #{order.LEVEL_TWO},
        #{order.ORDER_TIME},
        #{order.PERCREATE_TIME},
        #{order.PEXECUTEDEPTNAME_MH},
        #{order.PUBLIC_SATISFACTION},
        #{order.REFLECT_PERSON},
        #{order.REPLY_POIN},
        #{order.REPORT_DEPT},
        #{order.SERVICE_TYPE},
        #{order.SOLVING_RESULT},
        #{order.SOLVING_TIME},
        #{order.STATUS},
        #{order.STREET_NAME},
        #{order.SYNCTIME},
        #{order.TASK_ID},
        #{order.TEL_ASK_TIME},
        #{order.WP_SOURCE},
        #{order.coordx},
        #{order.coordy},
        #{order.dept1Name},
        #{order.dept2Name},
        #{order.dept3Name},
        #{order.dept4Name},
        #{order.dept5Name},
        #{order.isCallbackSuccess},
        #{order.isContinueAccept},
        #{order.isDel},
        #{order.isDelay},
        #{order.isDifficult},
        #{order.isFollow},
        #{order.isFollow_up},
        #{order.isJointHandle},
        #{order.isJudged},
        #{order.isManualOpenPage},
        #{order.isOnTheWay},
        #{order.isOntimeTransfer},
        #{order.isOverdue},
        #{order.isRebootFlow},
        #{order.isResetCallback},
        #{order.isSendBack},
        #{order.isSubscribeCallback},
        #{order.isSupervise},
        #{order.isTimelyUpReport},
        #{order.isUrge},
        #{order.isWillOverdue},
        #{order.isZnjBack},
        #{order.is_solving_name},
        #{order.solving_node}
        )
    </insert>
</mapper>